@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type="number"] {
		-moz-appearance: textfield;
		-webkit-appearance: textfield;
		appearance: textfield;
	}
}

@font-face {
	font-family: 'Futura';
	src: url("/assets/fonts/Futura.woff");	
}


:root {
	font-family: Futura, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--blue-background: #26547C;

	--text-color-light: #fff;
	--text-color-primary: #39393A;
	--question-blue: #47A8BD;
	--question-red: #EF476F;
	--question-green: #06D6A0;
	--question-yellow: #FFD166;
}

body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100vh;
	/* background-color: var(--blue-background); */
}
