.ok-button {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	font-family: "Futura", sans-serif;
	min-width: 170px;
	text-align: center;
	cursor: pointer;
	color: #fff;
 
	&.sb-gradients {
		padding: 17px 32px;
		border: none;
		color: #fff;

		&.sbg-line {
			color: #20509e;
			z-index: 1;
		}

		&:after{
			position: absolute;
			content: '';
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			background: #fff;
			top: 2px;
			left: 2px;
			z-index: -1;
			border-radius: 50px;
		}
	}

	border-radius: 8px;
	border: none;

	&.btn-full {
		width: 100%;
	}

	&.button-green{
		background: #40C9A2;

		-webkit-transition: all 0.5s;
			transition: all 0.5s;

		&:hover{
			background: #31AF8B;
			
		}
	}

	&.button-red{
		background: #BE0E2E;

		-webkit-transition: all 0.5s;
			transition: all 0.5s;

		&:hover{
			background: #AB0D2A;
			
		}
	}
}