.ok-input {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	font-family: "Futura", sans-serif;
	min-width: 170px;
	text-align: center;
	cursor: pointer;
	color: #39393A;
	
	border-radius: unset;
	border: none;

	outline: none;

	background-color: #fff;
	border: 2px solid #39393A;

	border-radius: 8px;

	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;

	&.has-label {
		border-top-left-radius: unset;
		border-bottom-left-radius: unset;

		border-left: unset;
	}
}

.ok-label {
	border: 2px solid #39393A;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #39393A;
	// padding: 15px 30px;
	color: #39393A;
	border-right: unset;

	display: flex;
	justify-content: center;
	align-items: center;
}