.answer-shower {
	width: 100%;
	height: 100%;

	.row {
		width: 100%;
		height: 100%;
	}

	span {

		color: #39393A;
		font-size: 2em;

		padding: 8px;
		margin: 0;

		flex: 1;

		&.answer-red {
			background-color: var(--question-red);
		}

		&.answer-yellow {
			background-color: var(--question-yellow);
		}

		&.answer-green {
			background-color: var(--question-green);
		}

		&.answer-blue {
			background-color: var(--question-blue);
		}
	}
}