.play-button-container {
	width: 100vw;
	height: 100vh;

	.row {
		width: 100%;
		height: 50%;
	}

	button {
		width: 50%;
		height: 100%;


		outline: none;
		border: none;

		&.play-btn-yellow {
			background-color: var(--question-yellow);
		}

		&.play-btn-red {
			background-color: var(--question-red);
		}

		&.play-btn-green {
			background-color: var(--question-green);
		}

		&.play-btn-blue {
			background-color: var(--question-blue);
		}

		&:hover {
			filter: brightness(0.4);
		}

		&:active {
			filter: brightness(0.6);
		}
	}
}
