.editor-card {
	background-color: white;
}

.editor-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px; 

	.editor-header { grid-area: 1 / 1 / 2 / 6; }
	.editor-left-column { grid-area: 2 / 1 / 6 / 2; }
	.editor-middle-column { grid-area: 2 / 2 / 3 / 3; }
	.editor-right-column { grid-area: 2 / 3 / 3 / 4; } 
}

.editor-header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px; 

	.editor-header-left { grid-area: 1 / 1 / 2 / 3; }
	.editor-header-right { grid-area: 1 / 3 / 2 / 4; } 
}


.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.answer-editor {
	display: grid;
	grid-template-columns: 1fr 3fr 0.5fr;
}

.white-label {
	background-color: #fff;
}

.single-question-editor {
	

	.single-q-answer-editor {
		.red-label {
			background-color: var(--question-red);
		}

		.blue-label {
			background-color: var(--question-blue);
		}

		.green-label {
			background-color: var(--question-green);
		}

		.yellow-label {
			background-color: var(--question-yellow);
		}

	
	}
}