$muted-brightness: 60%;

.header-container {
	display: flex;

	align-items: center;
	justify-content: center;

	margin-top: 24px;

	.center-text {
		&.scoreboard-text {
			padding: 16px;
			h1 {
				font-size: 3rem;
			}
		}
	}
}

.highscore-container {
	color: #39393A;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	width: 100%;


	.highscore-list {
		list-style: none;

		text-indent: 0;
   		list-style-type: none;
		padding: 0;

		width: 50%;


		.highscore-row {
			background-color: #fff;

			width: 100%;

			text-indent: 0;
   			list-style-type: 0;
			margin: 0;

			.highscore-row-inner {
				padding: 16px;
				margin: 8px;
				width: 100%;
			}
		}
	}
}

.answer-breakdown-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(#39393A, 0.4);
	width: 100vw;
	height: 100vh;	
}

.answer-breakdown {
	width: 100%;
	display: flex;
	justify-content: center;

	.answer-count {
		height: 20%;
		padding: 16px;

		.answer-count-inner {
			position: relative;
			top: calc(100% - 16px - 0.5em);
			color: var(--text-color-light);

			font-size: 1.5em;
		}

		&.Red {
			background-color: var(--question-red);

			&.muted {
				filter: brightness($muted-brightness);
			}
		}

		&.Blue {
			background-color: var(--question-blue);

			&.muted {
				filter: brightness($muted-brightness);
			}
		}

		&.Green {
			background-color: var(--question-green);

			&.muted {
				filter: brightness($muted-brightness);
			}
		}

		&.Yellow {
			background-color: var(--question-yellow);

			&.muted {
				filter: brightness($muted-brightness);
			}
		}
	}

}