.header-container {
	display: flex;

	align-items: center;
	justify-content: center;

	margin-top: 24px;

	.center-text {
		&.scoreboard-text {
			padding: 16px;
			h1 {
				font-size: 3rem;
			}
		}
	}
}

.highscore-container {
	color: #39393A;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	width: 100%;


	.highscore-list {
		list-style: none;

		text-indent: 0;
   		list-style-type: none;
		padding: 0;

		width: 50%;


		.highscore-row {
			background-color: #fff;

			width: 100%;

			text-indent: 0;
   			list-style-type: 0;
			margin: 0;

			.highscore-row-inner {
				padding: 16px;
				margin: 8px;
				width: 100%;
			}
		}
	}
}