$container-width: 60%;

.starting-screen {
	
	&.header-container {
		width: 100%;

		display: flex;
		flex-direction: row;
		justify-content: center;
		
	}

	&.header {
		margin: 0;
		margin-top: 16px;
		display: flex;
		justify-self: center;

		border-radius: 8px;
		
		padding-bottom: 0;

		&.pin-text {
			background-color: #fff;
			color: #39393A;

			display: flex;
			flex-direction: column;
			padding: 8px;

			span {
				font-weight: bold;
				float: left;
				font-size: 1.3rem;
			}

			h1 {
				font-size: 6rem;
				float: left;
				margin: 0;
			}
		}
	}
	
	&.names-container{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;

		.names-content {
			display: grid;
			align-items: center;
			justify-items: center;
			grid-template-columns: 100px 50px 100px;
			grid-template-rows: 80px auto 80px; 
			column-gap: 15px;
			row-gap: 15px;

			.starting-screen-name {
				font-size: 1.5rem;
				color: #fff;
			}
		}
	}

	.game-start-button {
		padding-top: 24px;

		display: flex;
		justify-self: center;
		align-items: center;
		justify-content: center;

		button {
			width: 40%;
		}
	}

}